<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.rm.dao.CommonRequireMapper">
    <resultMap id="BaseResultMap" type="cn.edu.nju.rm.model.CommonRequire">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="rid" jdbcType="INTEGER" property="rid" />
        <result column="pid" jdbcType="INTEGER" property="pid" />
    </resultMap>
    <sql id="Base_Column_List">
        id, rid, pid
    </sql>

    <select id="selectAllByProject" parameterType="java.lang.Integer" resultType="cn.edu.nju.rm.model.CommonRequire">
    select *
    from commonrequire
    where pid = #{pid,jdbcType=INTEGER}
  </select>
</mapper>