<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.rm.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nju.rm.model.Project">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="closed_time" jdbcType="TIMESTAMP" property="closedTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="name" jdbcType="LONGVARCHAR" property="name" />
    <result column="field" jdbcType="LONGVARCHAR" property="field" />
    <result column="language" jdbcType="LONGVARCHAR" property="language" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, publisher, created_time, closed_time, state, name, field, language, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from project
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nju.rm.model.Project">
    insert into project (pid, publisher, created_time,
      closed_time, state, name,
      field, language, description
      )
    values (#{pid,jdbcType=INTEGER}, #{publisher,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
      #{closedTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{name,jdbcType=LONGVARCHAR},
      #{field,jdbcType=LONGVARCHAR}, #{language,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimary" parameterType="cn.edu.nju.rm.model.Project">
    update project
    set publisher = #{publisher,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      closed_time = #{closedTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      name = #{name,jdbcType=LONGVARCHAR},
      field = #{field,jdbcType=LONGVARCHAR},
      language = #{language,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <!--mine-->
  <select id="selectById" parameterType="java.lang.Integer" resultType="cn.edu.nju.rm.model.Project">
    select *
    from project
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nju.rm.model.Project">
    update project
    <set>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closedTime != null">
        closed_time = #{closedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="field != null">
        field = #{field,jdbcType=LONGVARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <insert id="insertSelective" parameterType="cn.edu.nju.rm.model.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="closedTime != null">
        closed_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="field != null">
        field,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closedTime != null">
        #{closedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="field != null">
        #{field,jdbcType=LONGVARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAllWithLimit" resultType="cn.edu.nju.rm.model.Project">
    SELECT *
    FROM Project
    LIMIT  #{offset,jdbcType=INTEGER}, #{number, jdbcType=INTEGER}
  </select>
  <select id="selectByConditionSelectiveWithLimit" resultType="cn.edu.nju.rm.model.Project">
    SELECT *
    FROM Project
      <trim prefix="WHERE(" suffix=")" suffixOverrides="AND">
        <if test="publisher != null">
          publisher = #{publisher,jdbcType=VARCHAR} AND
        </if>
        <if test="state != null">
          state = #{state,jdbcType=INTEGER} AND
        </if>
        <if test="field != null">
          field = #{field,jdbcType=VARCHAR} AND
        </if>
        <if test="input != null">
          name LIKE #{input,jdbcType=VARCHAR} OR description LIKE #{input,jdbcType=VARCHAR}
        </if>
      </trim>
      LIMIT  #{offset,jdbcType=INTEGER}, #{number, jdbcType=INTEGER}
  </select>
    <select id="selectCountAll" resultType="java.lang.Integer">
        SELECT count(*)
        FROM Project
    </select>

    <select id="selectCountByConditionSelective" resultType="java.lang.Integer">
        SELECT count(*)
        FROM Project
        <trim prefix="WHERE(" suffix=")" suffixOverrides="AND">
            <if test="publisher != null">
                publisher = #{publisher,jdbcType=VARCHAR} AND
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER} AND
            </if>
            <if test="field != null">
                field = #{field,jdbcType=VARCHAR} AND
            </if>
            <if test="input != null">
                name LIKE #{input,jdbcType=VARCHAR} OR description LIKE #{input,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>
</mapper>