<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.rm.dao.UmlMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nju.rm.model.Uml">
    <id column="umlid" jdbcType="INTEGER" property="umlid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    umlid, pid, title, content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="cn.edu.nju.rm.model.Uml">
    select *
    from uml
    where umlid = #{umlid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uml
    where umlid = #{umlid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nju.rm.model.Uml">
    insert into uml (umlid, pid, title, 
      content)
    values (#{umlid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{title,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nju.rm.model.Uml">
    insert into uml
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="umlid != null">
        umlid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="umlid != null">
        #{umlid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nju.rm.model.Uml">
    update uml
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where umlid = #{umlid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nju.rm.model.Uml">
    update uml
    set pid = #{pid,jdbcType=INTEGER}
    where umlid = #{umlid,jdbcType=INTEGER}
  </update>
  <select id="selectByProject" resultType="cn.edu.nju.rm.model.Uml">
    SELECT *
    FROM uml
    WHERE pid = #{pid,jdbcType=INTEGER}
  </select>
</mapper>